body {
    background-repeat: repeat;
    background-image: url(images/background.png);
    color: white;
    overflow: hidden;
}
canvas {
    border:1px solid #000000;
    padding: 0;
    margin: auto;
    display: block;
    width: 960px;
    margin-top: 3vh;
    -webkit-box-shadow: 0 0 20px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px 6px rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 6px rgba(0,0,0,0.75);
}
a {
    color: white;
}

#conversation {
    width:300px;
    height:500px;
    overflow:auto;
}
.rooms {
    float:left;
    width:100px;
    border-right:1px solid black;
    height:300px;
    padding:10px;
    overflow: auto;
}
#chat {
    float:left;
    width:300px;
    height:500px;
    overflow:auto;
    padding:10px;
}
#data {
    margin-top:10px;
    width: 200px;
    float:left;
}
#datasend {
    margin-top:10px;
    float:left;
}